Arktos.WinBert/Xml/RandoopPluginConfigSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="RandoopConfig"
    targetNamespace="http://arktos.org/RandoopPluginConfig.xsd"
    elementFormDefault="qualified"
    xmlns="http://arktos.org/RandoopPluginConfig.xsd"
    xmlns:rndp="http://arktos.org/RandoopPluginConfig.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
    <xs:simpleType name="PatternType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Regex" />
            <xs:enumeration value="ExactString" />
            <xs:enumeration value="Wildcard" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Char">
        <xs:restriction base="xs:string">
            <xs:pattern value=".{1}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ForbidExpression">
        <xs:sequence>
            <xs:element name="Pattern" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="Type" type="PatternType" use="required" />
    </xs:complexType>

    <xs:complexType name="RandoopPluginConfig">
        <xs:sequence>
            <xs:element name="GeneratedTestsSubDirName" maxOccurs="1" type="xs:string" />
            <xs:element name="ForbiddenTypes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ForbiddenType" type="ForbidExpression" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ForbiddenFields">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ForbiddenField" type="ForbidExpression" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ForbiddenMembers">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ForbiddenField" type="ForbidExpression" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SeedValues">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element name="ByteSeedValues">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:byte" />
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="UByteSeedValues">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:unsignedByte" />
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="ShortSeedValues">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:short" />
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="UShortSeedValues">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:unsignedShort" />
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="IntSeedValues">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:int" />
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="UIntSeedValues">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:unsignedInt" />
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="LongSeedValues">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:long" />
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="ULongSeedValues">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:unsignedLong" />
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="DoubleSeedValues">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:double" />
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="UsePositiveInfinity" type="xs:boolean" default="false" use="optional" />
                                <xs:attribute name="UseNegativeInfinity" type="xs:boolean" default="false" use="optional" />
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="FloatSeedValues">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:float" />
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="UsePositiveInfinity" type="xs:boolean" default="false" use="optional" />
                                <xs:attribute name="UseNegativeInfinity" type="xs:boolean" default="false" use="optional" />
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="DecimalSeedValues">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:decimal" />
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="BoolSeedValues">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:boolean" />
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="StringSeedValues">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string" />
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="UseEmptyString" type="xs:boolean" default="true" use="optional" />
                                <xs:attribute name="UseNull" type="xs:boolean" default="true" use="optional" />
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="CharSeedValues">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value=".{1}"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="RandoopPluginConfig" type="rndp:RandoopPluginConfig" />

</xs:schema>